@model IEnumerable<ItineraryBuilderViewModel>
@{
    ViewData["Title"] = "PlanATrip";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int cardId = 0;
}

<div class="image-container">
    <div class="image-cover" data-src="/assets/PlanATrip.jpg" data-sizes="(min-width: 650px) 650px, 100vw" uk-img>
        <div class="accordion-title-card">Plan A Trip</div>
    </div>
</div>
<div class="uk-margin text-center">
    <button class="uk-button uk-button-primary uk-button-large" onclick="location.href='@Url.Action("ItineraryBuilder", "Itinerary")'">Build a custom itinerary</button>
</div>
<div>
    <p style="text-align:center">Check out our example iteneraries below!</p>
</div>

@foreach (var itinerary in Model)
{
    cardId += 1;

    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-card-media-left uk-cover-container">
            <img src="@itinerary.ImageUrl" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">@itinerary.Name</h3>
                <p>@itinerary.Description</p>
                <a class="uk-button uk-button-default" href="#modal-full@(cardId)" uk-toggle>View details</a>
            </div>
        </div>
    </div>


    <div id="modal-full@(cardId)" class="uk-modal-full" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
            <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
                <div class="uk-background-cover" style="background-image: url(@itinerary.ImageUrl);" uk-height-viewport></div>
                <div class="uk-padding-large">
                    <h1>@itinerary.Itinerary.Days.Count Day Itinerary</h1>
                    <p>@itinerary.Description</p>
                    
                    <div class="itinerary-card__content">

                        @foreach (var itineraryDay in  itinerary.Itinerary.Days)
                        {
                            <table class="uk-table uk-table-small uk-table-justify uk-table-responsive uk-table-middle uk-table-divider">
                                <thead>
                                    <tr>
                                        <th class="uk-width-small"></th>
                                        <th>Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var timeslot in itineraryDay.ItineraryTimeSlots)
                                    {
                                        <tr>
                                            <td>@timeslot.Time</td>
                                            <td>
                                                <ul uk-accordion>
                                                    <li>
                                                        <a class="uk-accordion-title intinerary-card__modal-table--timeslots" href="#">@timeslot.Business.Name </a>
                                                        <div class="uk-accordion-content">
                                                            <table class="uk-table uk-table-middle uk-table-divider">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="uk-table-expand">Address</th>
                                                                        <th>Description</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>@timeslot.Business.Address.StreetAddress</td>
                                                                        <td>@timeslot.Business.Description</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                    <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom uk-align-center">Call To Action</button>
                </div>
            </div> 
        </div> 
    </div>
}