@model HimalayanDbProject.Models.BlogPost

@{
    ViewData["Title"] = "Details";
}
<div>
    <a asp-action="Index">Back to List</a>
</div>
<br />
<h1>@Html.DisplayFor(model => model.Title)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2" style="text-align:right">
            Date Posted
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatePosted)
        </dd>
        <dt class="col-sm-2" style="text-align:right">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.FirstName) @Html.DisplayFor(model => model.Author.LastName)
        </dd>
    </dl>

    <p style="border: 1px solid gray; border-radius: 10px; padding: 15px 25px">@Html.DisplayFor(model => model.Content)</p>
</div>

