@using MIVisitorCenter.Models
@model IEnumerable<Category>

@{
    ViewData["Title"] = "Great Oaks Food Trail";
}


<div class="image-container">
    <div class="image-cover" data-src="/assets/Food-Trail/IndependenceHotel.jpg" data-sizes="(min-width: 650px) 650px, 100vw" uk-img>
        <div class="accordion-title-card">Great Oaks Food Trail</div>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-about-tab" data-toggle="pill" href="#v-pills-about" role="tab" aria-controls="v-pills-about" aria-selected="true">About</a>
            <a class="nav-link" id="v-pills-tips-tab" data-toggle="pill" href="#v-pills-tips" role="tab" aria-controls="v-pills-tips" aria-selected="false">Travel Tips</a>
            <a class="nav-link" id="v-pills-start-tab" data-toggle="pill" href="#v-pills-start" role="tab" aria-controls="v-pills-start" aria-selected="false">Where to Start / Lodging</a>
            <a class="nav-link" id="v-pills-eat-tab" data-toggle="pill" href="#v-pills-eat" role="tab" aria-controls="v-pills-eat" aria-selected="false">Where to Eat</a>
            <a class="nav-link" id="v-pills-map-tab" data-toggle="pill" href="#v-pills-map" role="tab" aria-controls="v-pills-map" aria-selected="false">Map</a>
        </div>
    </div>
    <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">

            <div class="tab-pane fade show active" id="v-pills-about" role="tabpanel" aria-labelledby="v-pills-about-tab">
                <p>Information about food trial</p>
            </div>

            <div class="tab-pane fade" id="v-pills-tips" role="tabpanel" aria-labelledby="v-pills-tips-tab">
                <p>Travel Tips</p>
            </div>

            <div class="tab-pane fade" id="v-pills-start" role="tabpanel" aria-labelledby="v-pills-start-tab">
                <p>Start info</p>
                <h2>Lodging</h2>
                @*@foreach (var c in ViewBag.Lodging)
                {
                    <div class="row">
                        @foreach (BusinessCategory b in c.BusinessCategories)
                        {
                            <div class="col-md-6">
                                <p>
                                    <b>@b.Business.Name</b><br />
                                    @b.Business.Address.StreetAddress, @b.Business.Address.City<br />
                                    @b.Business.Phone<br />
                                    <a href="http://@b.Business.Website">@b.Business.Website</a>
                                </p>
                            </div>

                        }
                    </div>

                }*@
            </div>

            <div class="tab-pane fade" id="v-pills-eat" role="tabpanel" aria-labelledby="v-pills-eat-tab">
                <p>Food info</p>
                @*@{
                    int col2SizeR = Model.ElementAt(0).BusinessCategories.Count() / 2;
                    int col1SizeR = Model.ElementAt(0).BusinessCategories.Count - col2SizeR;
                }
                @foreach (var c in Model)
                {
                    <div class="row">
                        <div class="col">
                            @for (var i = 0; i < col1SizeR; i++)
                            {
                                <p>
                                    <b>@c.BusinessCategories.ElementAt(i).Business.Name</b><br />
                                    @c.BusinessCategories.ElementAt(i).Business.Address.StreetAddress, @c.BusinessCategories.ElementAt(i).Business.Address.City<br />
                                    @c.BusinessCategories.ElementAt(i).Business.Phone<br />
                                    <a href="http://@c.BusinessCategories.ElementAt(i).Business.Website">@c.BusinessCategories.ElementAt(i).Business.Website</a>
                                </p>

                            }
                        </div>
                        <div class="col">
                            @for (var i = col2SizeR; i < col1SizeR + col2SizeR; i++)
                            {
                                <p>
                                    <b>@c.BusinessCategories.ElementAt(i).Business.Name</b><br />
                                    @c.BusinessCategories.ElementAt(i).Business.Address.StreetAddress, @c.BusinessCategories.ElementAt(i).Business.Address.City<br />
                                    @c.BusinessCategories.ElementAt(i).Business.Phone<br />
                                    <a href="http://@c.BusinessCategories.ElementAt(i).Business.Website">@c.BusinessCategories.ElementAt(i).Business.Website</a>
                                </p>
                            }
                        </div>
                    </div>

                }*@


            </div>

            <div class="tab-pane fade" id="v-pills-map" role="tabpanel" aria-labelledby="v-pills-map-tab">
                <div class="river-map">
                    <iframe src="https://www.google.com/maps/d/u/1/embed?mid=1tB6w4zJVSa_Y2IUEKWKFxRv9XndC2t1V&z=11" width="640" height="480"></iframe>
                </div>
            </div>

        </div>
    </div>
</div>