@model IEnumerable<MIVisitorCenter.Business>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Business Index</h1>

<p>
    <a button class="uk-button uk-button-default" asp-action="Create">Create New</a>
</p>
<table class="uk-table uk-table-justify uk-table-responsive uk-table-middle uk-table-divider">
    <thead>
        <tr>
            <th style="width:20%;">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="width:15%;">
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th style="width:20%;">
                @Html.DisplayNameFor(model => model.Website)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                <a href="@Html.DisplayFor(modelItem => item.Website)">@Html.DisplayFor(modelItem => item.Website)</a>
            </td>
            <td>
                <a button class="uk-button uk-button-default" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a button class="uk-button uk-button-primary" asp-action="Business" asp-route-id="@item.Id">Details</a>
                <a button class="uk-button uk-button-secondary" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
