@model IEnumerable<IGrouping<string, Category>>

@{
    ViewData["Title"] = "Outdoor Recreation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="accordion-content_container">
    @if (Model != null)
    {
        @foreach (var m in Model)
        {
            @foreach (var c in m)
            {
                <ul class="uk-accordion_custom" uk-accordion>
                    <li>
                        <a href="#" class="uk-accordion-title uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light"
                           data-src="/assets/Accordion-Images/@(c.Name).jpg" data-sizes="(min-width: 650px) 650px, 100vw" style="color: #fff; border-radius: 10px" uk-img>
                            <div class="accordion-title-card">@c.Name + </div>
                        </a>

                        <div class="uk-accordion-content uk-flex uk-flex-center">
                            <div class="uk-overflow-auto accordion-width">
                                <table class="uk-table uk-table-justify uk-table-responsive uk-table-middle uk-table-divider">
                                    <thead>
                                        <tr>
                                            <th class="uk-width-small">Name</th>
                                            <th>Address</th>
                                            <th>Site</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (BusinessCategory b in c.BusinessCategories)
                                        {
                                            <tr>
                                                <td>@b.Business.Name</td>
                                                <td>@b.Business.Address.StreetAddress, @b.Business.Address.City, @b.Business.Address.State</td>
                                                <td><a button class="uk-button uk-button-default" type="button" asp-controller="Businesses" asp-action="Business" asp-route-id="@b.Business.Id">Details</a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </li>
                </ul>
            }
        }
    }
    else
    {
        <div class="text-center">
            <h1 class="display-4">There doesn't seem be any businesses to show right now.</h1>
            <p> Check back later!</p>
        </div>
    }
</div>
