@using MIVisitorCenter.Models
@model IEnumerable<Category>

@{ 
    ViewData["Title"] = "Willamette River Water Trail";
    var components = ViewData["Components"] as Component[];
    var AboutContent = components.Where(a => a.Name == "About Content").Single();
    var WaterCraftRentalContent = components.Where(a => a.Name == "Water Craft Rentals Content").Single();
    var BeforeYouGoContent = components.Where(a => a.Name == "Before You Go Content").Single();
    var StartLodgingContent = components.Where(a => a.Name == "Where to Start / Lodging Content").Single();
}


<div class="image-container">
    <div class="image-cover" data-src="/assets/Water-Trail/WillametteKayak.jpg" data-sizes="(min-width: 650px) 650px, 100vw" uk-img>
        <div class="accordion-title-card">Willamette River Water Trail</div>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-about-tab" data-toggle="pill" href="#v-pills-about" role="tab" aria-controls="v-pills-about" aria-selected="true">About</a>
            <a class="nav-link" id="v-pills-rentals-tab" data-toggle="pill" href="#v-pills-rentals" role="tab" aria-controls="v-pills-rentals" aria-selected="false">Water Craft Rentals</a>
            <a class="nav-link" id="v-pills-before-tab" data-toggle="pill" href="#v-pills-before" role="tab" aria-controls="v-pills-before" aria-selected="false">Before You Go</a>
            <a class="nav-link" id="v-pills-start-tab" data-toggle="pill" href="#v-pills-start" role="tab" aria-controls="v-pills-start" aria-selected="false">Where to Start / Lodging</a>
            <a class="nav-link" id="v-pills-eat-tab" data-toggle="pill" href="#v-pills-eat" role="tab" aria-controls="v-pills-eat" aria-selected="false">Where to Eat</a>
            <a class="nav-link" id="v-pills-map-tab" data-toggle="pill" href="#v-pills-map" role="tab" aria-controls="v-pills-map" aria-selected="false">Map</a>
        </div>
    </div>
    <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">

            <div class="tab-pane fade show active" id="v-pills-about" role="tabpanel" aria-labelledby="v-pills-about-tab">
                @Html.Raw(System.Web.HttpUtility.HtmlDecode(@AboutContent.ComponentTexts.Text))
            </div>

            <div class="tab-pane fade" id="v-pills-rentals" role="tabpanel" aria-labelledby="v-pills-rentals-tab">
                <div class="row">
                    <div class="col-md-8">
                        @Html.Raw(System.Web.HttpUtility.HtmlDecode(@WaterCraftRentalContent.ComponentTexts.Text))
                    </div>
                    <div class="col-md-4"><img src="/assets/Water-Trail/Willamette_River_Kayak_JHamilton_7 .webp" alt="Willamette River Kayak" /></div>
                </div>
            </div>

            <div class="tab-pane fade" id="v-pills-before" role="tabpanel" aria-labelledby="v-pills-before-tab">
                @Html.Raw(System.Web.HttpUtility.HtmlDecode(@BeforeYouGoContent.ComponentTexts.Text))
            </div>

            <div class="tab-pane fade" id="v-pills-start" role="tabpanel" aria-labelledby="v-pills-start-tab">
                @Html.Raw(System.Web.HttpUtility.HtmlDecode(@StartLodgingContent.ComponentTexts.Text))
                <h2>Lodging</h2>
                @foreach (var c in ViewBag.Lodging)
                {
                    <div class="row">
                        @foreach (BusinessCategory b in c.BusinessCategories)
                        {
                            <div class="col-md-6">
                                <p>
                                    <b>@b.Business.Name</b><br />
                                    @b.Business.Address.StreetAddress, @b.Business.Address.City<br />
                                    @b.Business.Phone<br />
                                    <a href="http://@b.Business.Website">@b.Business.Website</a>
                                </p>
                            </div>
                    
                        }
                    </div>

                }
            </div>

            <div class="tab-pane fade" id="v-pills-eat" role="tabpanel" aria-labelledby="v-pills-eat-tab">
                @{
                    int col2SizeR = Model.ElementAt(0).BusinessCategories.Count() / 2;
                    int col1SizeR = Model.ElementAt(0).BusinessCategories.Count - col2SizeR;
                }
                @foreach (var c in Model)
                {
                    <div class="row">
                        <div class="col">
                            @for (var i = 0; i < col1SizeR; i++)
                            {
                            <p>
                                <b>@c.BusinessCategories.ElementAt(i).Business.Name</b><br />
                                @c.BusinessCategories.ElementAt(i).Business.Address.StreetAddress, @c.BusinessCategories.ElementAt(i).Business.Address.City<br />
                                @c.BusinessCategories.ElementAt(i).Business.Phone<br />
                                <a href="http://@c.BusinessCategories.ElementAt(i).Business.Website">@c.BusinessCategories.ElementAt(i).Business.Website</a>
                            </p>

                            }
                        </div>
                        <div class="col">
                            @for (var i = col2SizeR; i < col1SizeR + col2SizeR; i++)
                            {
                            <p>
                                <b>@c.BusinessCategories.ElementAt(i).Business.Name</b><br />
                                @c.BusinessCategories.ElementAt(i).Business.Address.StreetAddress, @c.BusinessCategories.ElementAt(i).Business.Address.City<br />
                                @c.BusinessCategories.ElementAt(i).Business.Phone<br />
                                <a href="http://@c.BusinessCategories.ElementAt(i).Business.Website">@c.BusinessCategories.ElementAt(i).Business.Website</a>
                            </p>
                            }
                        </div>
                    </div>
                    
                }


            </div>

            <div class="tab-pane fade" id="v-pills-map" role="tabpanel" aria-labelledby="v-pills-map-tab">
                <div class="river-map">
                    <iframe src="https://www.google.com/maps/d/u/1/embed?mid=1tB6w4zJVSa_Y2IUEKWKFxRv9XndC2t1V&z=11" width="640" height="480"></iframe>
                </div>
            </div>

        </div>
    </div>
</div>

