@using MIVisitorCenter.Models
@model IEnumerable<Category>

@{ 
    ViewData["Title"] = "Willamette River Water Trail";
}


<div class="image-container">
    <div class="image-cover" data-src="/assets/Water-Trail/WillametteKayak.jpg" data-sizes="(min-width: 650px) 650px, 100vw" uk-img>
        <div class="accordion-title-card">Willamette River Water Trail</div>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-about-tab" data-toggle="pill" href="#v-pills-about" role="tab" aria-controls="v-pills-about" aria-selected="true">About</a>
            <a class="nav-link" id="v-pills-rentals-tab" data-toggle="pill" href="#v-pills-rentals" role="tab" aria-controls="v-pills-rentals" aria-selected="false">Water Craft Rentals</a>
            <a class="nav-link" id="v-pills-before-tab" data-toggle="pill" href="#v-pills-before" role="tab" aria-controls="v-pills-before" aria-selected="false">Before You Go</a>
            <a class="nav-link" id="v-pills-start-tab" data-toggle="pill" href="#v-pills-start" role="tab" aria-controls="v-pills-start" aria-selected="false">Where to Start / Lodging</a>
            <a class="nav-link" id="v-pills-eat-tab" data-toggle="pill" href="#v-pills-eat" role="tab" aria-controls="v-pills-eat" aria-selected="false">Where to Eat</a>
            <a class="nav-link" id="v-pills-map-tab" data-toggle="pill" href="#v-pills-map" role="tab" aria-controls="v-pills-map" aria-selected="false">Map</a>
        </div>
    </div>
    <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">

            <div class="tab-pane fade show active" id="v-pills-about" role="tabpanel" aria-labelledby="v-pills-about-tab">
                <p>It’s not an exaggeration to say that without the Willamette River, the valley that shares its name would look far different today. It was the river’s fertile farmlands and floodplains, after all, that made it such an appealing home for generations of Native Americans and Oregon Trail emigrants. And easy river access has long made it possible to travel around Eugene, Albany, Independence, and Salem—all cities through which the Willamette River flows today.</p>
                <p>The Willamette River isn’t the shipping channel it once was—but crops grown in the surrounding valley continue to reach consumers around the world today. And, not for nothing, but the river is a vibrant source of recreation for countless locals and visitors all year long.</p>
                <p>Fed by mountain tributaries south of Eugene, the Willamette River flows northward for nearly 200 miles before emptying into the Columbia River near Portland. Along the way, it passes through cities large and small, boasts dramatic wildlife viewing opportunities, offers all manner of outdoor recreation, and showcases the natural beauty of the iconic Willamette Valley.</p>
                <p>And you can see it all along the Willamette Water Trail, which covers 187 miles of wonder along the mainstem Willamette River, as well as the Coast Fork Willamette, Middle Fork Willamette, and the McKenzie rivers. </p>
                <p>So what is the Willamette Water Trail, anyway? Think of it as, well, a hiking trail—but on water. Instead of walking all those miles, you can paddle or float as much or as little of the Willamette River as you’d like; in-town landings and roughly 50 riverside campsites make it easy to plan a leisurely afternoon on the water or a fascinating multi-day adventure—whatever sounds fun and doable.</p>
                <p>Before you hit the water, here’s a bit about what to expect, how to stay safe, and how to get started.</p>
            </div>

            <div class="tab-pane fade" id="v-pills-rentals" role="tabpanel" aria-labelledby="v-pills-rentals-tab">
                <div class="row">
                    <div class="col-md-8">
                        <p>Please consult the official <a href="https://willamettewatertrail.org/">Willamette Water Trail website</a>, which lists gear essentials; showcases an interactive map full of campsites, restrooms, docks, and other resources; and offers tips for getting started (like understanding your options for a shuttle).</p>
                        <p>For anything more than an afternoon float, you may want to rent gear from a local outfitter or arrange for a guide. Here’s a quick rundown of outfitters and guides in Polk County:</p>
                        <p>
                            <span style="font-weight:bold"><a href="https://www.woodwardsurfco.com/">Woodward Surf Company</a></span><br />
                            Serving the heart of Salem, Woodward Surf Company rents kayaks and stand-up paddleboards—and offers limited shuttle service options for renters.
                        </p>
                        <p>
                            <span style="font-weight:bold"><a href="https://www.salemkayakrentals.com/">Salem Kayak Rentals LLC</a></span><br />
                            Also based in Salem, Salem Kayak Rentals LLC rents kayaks and stand up paddleboards. Tours and shuttle services are available.
                        </p>
                    </div>
                    <div class="col-md-4"><img src="/assets/Water-Trail/Willamette_River_Kayak_JHamilton_7 .webp" alt="Willamette River Kayak" /></div>
                </div>
            </div>

            <div class="tab-pane fade" id="v-pills-before" role="tabpanel" aria-labelledby="v-pills-before-tab">
                <p>Whether relaxing with an afternoon paddle or starting a multi-day trip, you’ll want to know the basics before getting started. Here’s a quick rundown of what to know:</p>
                <p><span style="font-weight:bold">Safety first, wear a lifejacket:</span>Personal floatation devices (PFDs or lifejackets) are not required for adults—but are nevertheless strongly encouraged whenever you’re on the water. Children 12 and younger are required to wear a U.S. Coast Guard-approved life jacket whenever the boat is underway. (The  <a href="https://www.oregon.gov/osmb/boater-info/Pages/Life-Jackets.aspx">Oregon State Marine Board</a> hosts a website on various lifejacket styles and how to choose the right PFD for your preferred activity.)</p>
                <p><span style="font-weight:bold">Keep your distance:</span>Try to avoid crowded boat ramps, and maintain at least six feet of physical distance (roughly the length of a kayak paddle) from others whenever possible—even on the water; if it is not possible to keep that distance, you are required to wear a face-covering in public places (indoors or out) throughout Oregon.</p>
                <p><span style="font-weight:bold">Ensure you have the proper permit:</span>All paddle craft 10 feet and longer are required to carry an <a href="https://www.oregon.gov/osmb/boater-info/Pages/AIS-FAQs.aspx">Oregon State Marine Board Waterway Access Permit</a> ($7 for a seven-day pass, $17 for an annual pass, $30 for a two-year pass). These permits help fund the aquatic invasive species prevention program and grants to develop or improve paddling access for boating facility providers, and paddling without a permit may lead to a $115 fine. </p>
                <p><span style="font-weight:bold">Respect Private Property:</span>Private property borders much of the Willamette Water Trail; assume that property, unless otherwise noted on a sign or map, is private—and take care to respect all signs that warn against trespassing or hunting.</p>
                <p><span style="font-weight:bold">Share the water:</span>Listen for the occasional motorboat, and paddle closer together in groups when you hear a motorboat approaching. Motorboats need deeper water to safely operate and pass.</p>
                <p><span style="font-weight:bold">Leave No Trace:</span>Please abide by the <a href="https://lnt.org/why/7-principles/">Seven Principles of Leave No Trace</a>; those principles include remembering to plan ahead and prepare, dispose of waste properly, and respect wildlife. (And while you’re outdoors, remember to <a href="https://traveloregon.com/things-to-do/outdoor-recreation/take-care-out-there/">Take Care Out There</a>.)</p>
            </div>

            <div class="tab-pane fade" id="v-pills-start" role="tabpanel" aria-labelledby="v-pills-start-tab">
                <p>A popular Polk County route starts by putting in at Buena Vista Park (for a 10 river mile paddle), and ending right at Riverview Park in Independence(for a 10 river mile paddle) or Wallace Marine Park in West Salem. You will see an abundance of wildlife, passing through forested land and past islands. Stop by businesses along the way for a cold beer or an overnight stay. One of the most popular river access points is the Buena Vista Ferry. If you choose to ride the ferry, remember to bring cash. Price depends on vehicle size.</p>
                <h2>Lodging</h2>
                @foreach (var c in ViewBag.Lodging)
                {
                    <div class="row">
                        @foreach (BusinessCategory b in c.BusinessCategories)
                        {
                            <div class="col-md-6">
                                <p>
                                    <b>@b.Business.Name</b><br />
                                    @b.Business.Address.StreetAddress, @b.Business.Address.City<br />
                                    @b.Business.Phone<br />
                                    <a href="http://@b.Business.Website">@b.Business.Website</a>
                                </p>
                            </div>
                    
                        }
                    </div>

                }
            </div>

            <div class="tab-pane fade" id="v-pills-eat" role="tabpanel" aria-labelledby="v-pills-eat-tab">
                @{
                    int col2SizeR = Model.ElementAt(0).BusinessCategories.Count() / 2;
                    int col1SizeR = Model.ElementAt(0).BusinessCategories.Count - col2SizeR;
                }
                @foreach (var c in Model)
                {
                    <div class="row">
                        <div class="col">
                            @for (var i = 0; i < col1SizeR; i++)
                            {
                            <p>
                                <b>@c.BusinessCategories.ElementAt(i).Business.Name</b><br />
                                @c.BusinessCategories.ElementAt(i).Business.Address.StreetAddress, @c.BusinessCategories.ElementAt(i).Business.Address.City<br />
                                @c.BusinessCategories.ElementAt(i).Business.Phone<br />
                                <a href="http://@c.BusinessCategories.ElementAt(i).Business.Website">@c.BusinessCategories.ElementAt(i).Business.Website</a>
                            </p>

                            }
                        </div>
                        <div class="col">
                            @for (var i = col2SizeR; i < col1SizeR + col2SizeR; i++)
                            {
                            <p>
                                <b>@c.BusinessCategories.ElementAt(i).Business.Name</b><br />
                                @c.BusinessCategories.ElementAt(i).Business.Address.StreetAddress, @c.BusinessCategories.ElementAt(i).Business.Address.City<br />
                                @c.BusinessCategories.ElementAt(i).Business.Phone<br />
                                <a href="http://@c.BusinessCategories.ElementAt(i).Business.Website">@c.BusinessCategories.ElementAt(i).Business.Website</a>
                            </p>
                            }
                        </div>
                    </div>
                    
                }


            </div>

            <div class="tab-pane fade" id="v-pills-map" role="tabpanel" aria-labelledby="v-pills-map-tab">
                <div class="river-map">
                    <iframe src="https://www.google.com/maps/d/u/1/embed?mid=1tB6w4zJVSa_Y2IUEKWKFxRv9XndC2t1V&z=11" width="640" height="480"></iframe>
                </div>
            </div>

        </div>
    </div>
</div>

