@model IEnumerable<HimalayanDbProject.Models.HomeIndexVM>
@{
    ViewData["Title"] = "Himalayan Expeditions";
}

<div class="row">
    <div class="col">
        <div class="text-center">
            <img src="~/images/Mount_Everest_as_seen_from_Drukair2_PLW_edit.jpg" alt="Mount Everst as seen from Drukair2" width="1024" />
        </div>
    </div>
</div>
@*
    Your implementation here.  I will provide some html code for the home page at the exam.
*@

<div class="row">
    <div class="col">
        <h2 class="text-center">Climbing in the Himalaya</h2>
        <p class="text-center" id="stats"></p>
        <table class="table table-dark table-striped table-sm w-75" style="margin: 0 auto;">
            <thead>
                <tr>
                    <th scope="col" style="text-align: center;">Rank</th>
                    <th scope="col" style="text-align: center;">Mountain</th>
                    <th scope="col">Height</th>
                    <th scope="col">First climbed</th>
                    <th scope="col"># of Expeditions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vm in Model)
                {
                    <tr>
                        <td scope="col">@vm.Rank</td>
                        <td scope="col">@vm.Name</td>
                        <td scope="col">@vm.Height</td>
                        <td scope="col">@vm.FirstClimbed</td>
                        <td scope="col">@vm.NumExpeditions</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<small>Data and idea for this app: Binit Shrestha, WOU Senior project class 2020. Photo above <a href="https://en.wikipedia.org/wiki/Mount_Everest#/media/File:Mount_Everest_as_seen_from_Drukair2_PLW_edit.jpg">from Wikipedia</a>.  Data from <a href="https://github.com/rfordatascience/tidytuesday/blob/master/data/2020/2020-09-22/readme.md">R for Data Science TidyTuesday: Himalayan Climbing Expeditions</a></small>