@model IEnumerable<HimalayanDbProject.Models.BlogPost>

@{
    ViewData["Title"] = "Index";
}

<h1>Expedition Blog</h1>
<h5><a asp-action="Create">Create New Post</a></h5>

<form asp-controller="BlogPosts" asp-action="Results">
    <p>
        Search by keywords or author: <input type="text" name="query" />
        
    </p>
    <p>
        Search by date range: <input type="date" name="start" /> to <input type="date" name="end" />
    </p>
    <p>
        <input type="submit" value="Search" class="btn btn-primary" />
    </p>
</form>

<table class="table table-striped table-active">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Date Posted
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a></td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePosted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.FirstName) @Html.DisplayFor(modelItem => item.Author.LastName)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
